<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fortinet - API Platform Engineering Demo</title>
    <!-- Custom CSS styles -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: start;
            margin: 50px;
        }
        h1 {
            color: #333;
        }
        h2 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1><span style="color:Red">Fortinet</span> - API Platform Engineering Demo</h1>
    <h2>Go to portal</h2>
</body>
</html>
